.App:focus{
  outline: 0 !important;
}
*, 
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
}
/*Settings===
===================================================*/
:root{
  --clr-bg-dark : #06111a;
  --clr-primary-light : #fff;
  --clr-secondary-redish : rgb(202, 1, 1);
}

.search--box{
  margin-left: 35% !important;
}

body{
  background-color: var(--clr-bg-dark) !important;
  overflow-x: hidden !important;
}


/*navbar===
===================================================*/
.navbar-light{
  background-color: var(--clr-bg-dark);
  padding-left: 11% !important;
  padding-right: 10% !important;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border: none;
  color: var(--clr-primary-light) !important;
  border-bottom: solid 1px var(--clr-primary-light);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: -3px;
}
.form-control {
  margin-left: 20px !important;
  margin-top: -3px !important;
  width: 100%;
  border-radius: 0 !important;
  font-size: .95rem !important;
  color: var(--clr-primary-light) !important;
  background: none !important;
  border:none !important;
  border-bottom: 1px solid var(--clr-primary-light) !important;
}
.heart{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--clr-primary-light);
  cursor: pointer;
}
.favorite--value{
  background-color: var(--clr-secondary-redish);
  padding: 1px 6px !important;
  border-radius: 50% ;
  font-size: .5em;
  position: absolute;
  top: 14px;
  right: 9%;
  z-index: 1;
  font-weight: bold;
  color: var(--clr-primary-light) !important;
}
.ninja-icon{
  position: absolute;
  top: 15px !important;
  right: 7%;
}

.heart:hover, .linked--brand:hover,
.linked--page:hover{
  text-decoration: none;
  color: #fff;
}
.linked--brand{
  text-decoration: none;
  color:var(--clr-primary-light);
  font-size: 1.5rem;
  cursor: pointer;
}
.linked--page{
  color: var(--clr-primary-light);
  font-size: 1.2rem;
  text-decoration: none;
  margin: 10px 20px 10px 0 !important;
  cursor: pointer;
}


/*landing===
===================================================*/
.landing{
   background-color:var(--clr-bg-dark);
   padding: 8%;
   padding-top: 7% !important;
   padding-left: 11% !important;
   color: var(--clr-primary-light);
   background-image: url(./images/witcher.jpg);
   width: 100%;
   min-height: 100vh;
   background-size: cover;
   background-position:center;
}
.landing h1{
  font-size: 5rem;
  font-weight: 1000;
  max-width: 3ch;
}
.landing p{
  font-size: .8rem !important;
  max-width: 35ch !important;
}
.date{
  margin-left: 30% !important;
}
.landing hr{
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  height: 18px !important;
  width: 3px !important;
  background-color: var(--clr-secondary-redish) !important;
}
.landing h6{
  color:var(--clr-primary-light);
  font-size: .9rem;
}
.read--more,.read--more h5 {
  font-size: .9rem;
  color: var(--clr-secondary-redish);
}
.read--more i{
  margin-left: 20px;
  margin-top: 5px;
  position: relative;
  z-index: 1;
}
.landing--cover .row{
  margin-left: 30px;
  position: absolute;
  bottom: 0;
}
.landing--cover button{
  border-radius: 50%;
  padding: 20px 25px;
  border: none;
  background-color: var(--clr-secondary-redish) !important;
  color: var(--clr-primary-light);
  position: relative;
}
.landing--cover button::before{
  content: "";
  position: absolute;
  background-color:red;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
  animation: pulse 1000ms infinite;
}

@keyframes pulse{
  0%{
    transform: scale(.95);
    opacity: 0.75;
  }
  100%{
    transform: scale(1.65);
    opacity: 0;
  }
}

.landing--cover h5{
  margin-top: 20px;
  margin-left: 30px;
}




/*social media==
===============================================================*/
.social--media{
  transform: rotate(90deg);
  display: flex;
}
.social--media h5{
  font-size: 1rem !important;
}





/*cards===
===================================================*/
.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}
.card-body{
  padding-left: 0 !important;
}
.movie{
  border: none !important;
  background:none !important;
  width:15rem
}
.img{
  border-radius: 10px !important;
}
.movie--title{
  font-size: 1rem !important;
  color: var(--clr-primary-light);
}
.movie--icons{
  color: #515056 !important;
  margin-left: 38% !important;
  font-size: 0.8rem !important;
}
.movie--icons span:first-child:hover,
.movie--icons span:nth-child(2):hover{
  color: var(--clr-secondary-redish) !important;
}

.movie--icons span:nth-child(3),
.movie--icons span:last-child{
  color: #e2bc29 !important;
}
.movie--icons span{
  color: #515056 !important;
  margin-left: 10px !important;
}
.text-movie{
  color: #515056 !important;
}


/*facebook chat===
===================================================*/
.images--witcher div{
  border-radius: 5px;
  height: 5rem;
  width: 30%;
  margin-left: 10px;
  position: relative;
}
.images--witcher div:nth-child(1){
  background-image: url("./images/01.png");
  background-size: cover;
}
.images--witcher div:nth-child(2){
  background-image: url("./images/02.jpg");
  width: 30%;
  background-size: cover;
}
.images--witcher div:nth-child(3){
  background-image: url("./images/03.jpg");
  width: 30%;
  background-size: cover;
}

.images--witcher div:nth-child(1)::after{
  content: '01';
  font-size: 2rem;
  font-weight: 500;
  position:absolute;
  bottom: -22px;
  right: 0;
}
.images--witcher div:nth-child(2)::after{
  content: '02';
  font-size: 2rem;
  font-weight: 500;
  position:absolute;
  bottom: -22px;
  right: 0;
}
.images--witcher div:nth-child(3)::after{
  content: '03';
  font-size: 2rem;
  font-weight: 500;
  position:absolute;
  bottom: -22px;
  right: 0;
}





/*Footer===
===================================================*/
.footer{
  padding: 5% 13%;
  margin-top: 100px;
  border-top: 1px solid lightgray;
}
.footer h6{
  margin-top: 20px;
  margin-left: 20%;
}

.footer h5, .footer h6{
  color: rgb(160, 160, 160);
}
.footer h5{
  margin-left: 4%;
  margin-bottom: 30px;
}
.footer select{
  margin-top: 20px;
  margin-left: 20%;
  padding: 10px 20px;
  background: none;
  color: var(--clr-primary-light);
  border-color: var(--clr-primary-light);
}

.footer ul li {
  list-style: none;
}
.footer .link{
  text-decoration: none;
  color: var(--clr-primary-light);
  cursor: pointer;
}
.fooetr .link:hover{
  color: var(--clr-primary-light);
}



/*favorite page======
=================================================================*/
.fav--movie--pic{
  width: 13rem;
  border-radius: 10px;
}
.fav--movie--info{
  color:#2c4050;
}
.fav--movie--info h2{
  color: var(--clr-primary-light) !important;
}
.fav--movie--info div:first-of-type span:first-child i{
  color: #e2bc29 !important;
}
.fav--movie--info div:first-of-type span:nth-child(2){
  background-color: #e2bc29;
  width: 15px;
  height: 15px;
  margin-left: 20px;
  color:#2c4050 !important;
}
.react-rater-star {
  color: #5b6c7a !important;
}
.fav--movie--info div:nth-of-type(3) span{
  color: #a5baca !important;
  text-decoration: underline;
}
.fav--movie--info div:last-of-type p{
  max-width: 60ch;
  text-align: justify;
  margin-top: 20px;
}
.fav--movie--info button{
  background-color:transparent;
  color: var(--clr-primary-light) !important;
  border-radius: 25px;
  border : 1px var(--clr-primary-light) solid !important;
  padding: 1px 10px;
  outline: none;
}
.fav--movie--info button:first-of-type{
  padding: 4px 10px;
  border: none !important;
  background-color: var(--clr-secondary-redish);
}

.remove--favlist{
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  right: 10%;
}
.remove--favlist button{
  margin-left: 10px;
  border-radius: 25px;
}

/*watched list===
==================================================================*/
.watchedList{
  display: flex;
  flex-wrap: wrap;
  gap :15px;
  flex: start;
}
.remove--button--wishlist{
  position: absolute;
  margin-bottom: 50%;
  width: 16.4%;
  min-height: 40px;
  background-color:rgba(202, 202, 202, 0.226);
  border-radius: 10px;

  cursor: pointer;
}
.remove--button--wishlist i{
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  cursor: pointer;
}
/*Post movie=====
=====================================================================*/
.spacer{
   margin-top : 6%;
}
.thead--movie--table{
  background : #fff;
  margin-top : 12% !important;
}
.post-size-img{
  min-height:50px;
  width:70px
}
.buttons{
  position:absolute;
  right : 6%;
  top:15%
}
.buttons button{
  background-color : #fff;
  padding: 5px;
  margin-left : 5px;
  border-radius : 5px;
  border:none;
}
.form{
  margin-left : 0 !important;
  margin-top : 0 !important;
  border : 1px solid lightgray !important;
  color: #000 !important;
}
.form:focus{
  outline:none !important;
}